{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex flex-col items-center">
<h1>Mon Formulaire Sympa</h1>

    <div class="max-w-xl min-w-xl">
{{form(form)}}
    </div>
    </div>
{% endblock %}

