<div class="container mx-auto">

    <form class="max-w-sm mx-auto" th:action="${noLigne} ? '/locations/lignes/modifier' : '/locations/lignes/ajouter'" method="post" th:object="${detailLocation}">
        <h1 class="mx-auto text-center text-md my-5">
            <span th:text="${noLigne} ? 'Modifier' : 'Créer'"></span> une ligne
        </h1>

        <input th:if="${noLigne}" type="hidden" th:field="*{noLigne}" >
        <input type="hidden" th:field="*{location.noLocation}" >

        <div class="mb-5">
            <label for="jeu" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selectionner un jeu</label>
            <select  id="jeu" name="jeu" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option th:selected="${detailLocation?.jeu?.noJeu == jeu.noJeu}" th:each="jeu : ${@jeuService.getAll()}" th:value="${{jeu.noJeu}}" th:text="${jeu.titre} +  ' (' + ${@jeuService.getQuantityOfExemplaireAvaible(jeu)} + ')'"></option>
            </select>
        </div>

        <div class="mb-5">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tarif de location</label>
            <input  required type="number" min="0" th:field="*{tarifLocation}" id="tarifLocation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span  th:each="erreur: ${#fields.errors('tarifLocation')}" th:text="${erreur}" class="font-medium"></span>
            </p>
        </div>

        <div class="mb-5">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date de retour</label>
            <input  type="date" name="dateRetour" th:value="*{dateRetour}" id="dateRetour" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span  th:each="erreur: ${#fields.errors('dateRetour')}" th:text="${erreur}" class="font-medium"></span>
            </p>
        </div>


        <div class="mx-auto flex justify-around">
            <button type="button"  class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                <a th:href="@{/locations}">Retour</a>
            </button>
            <button type="submit" class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                <span th:text="${noLigne} ? 'Modifier une ligne' : 'Créer une ligne'"></span>
            </button>
        </div>
    </form>
</div>