<header class="py-4">
    <nav>
        <ul class="flex justify-center gap-8">
            <li>
                <a href="{{ path('home_index') }}">Acccueil</a>
            </li>
            <li>
                <a href="{{ path('app_about') }}">About</a>
            </li>
            <li>
                <a href="{{ path('app_wish') }}">Wishs</a>
            </li>
       </ul>
    </nav>
</header>