{% extends 'base.html.twig' %}

{% block title %}Hello WishController!{% endblock %}

{% block body %}

    <div class="flex gap-8 justify-center items-center grow">
    {% for idx, wish in wishes %}

        <div class="outline-2 outline-offset-5 outline-pink-500">
        <a href="{{ path('app_wish_detail', {"id": wish.id}) }}">
            <div> {{wish.title }}</div>
        </a>
        </div>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
