<div class="container mx-auto py-5">
    <div class="flex justify-between items-center">
        <h1 class="text-lg">Liste des jeux</h1>

        <button><a href="/jeux/ajouter"  class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-3  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Ajouter un jeu</a>
        </button>
    </div>
    <table class="min-w-full table-auto border-collapse mt-5">
        <thead>
        <tr>
            <td class="px-4 py-2 border border-sky-500">Numéro de jeu</td>
            <td class="px-4 py-2 border border-sky-500">Nombres d'exemplaires</td>
            <td class="px-4 py-2 border border-sky-500" >Titre</td>
            <td class="px-4 py-2 border border-sky-500">Référence</td>
            <td class="px-4 py-2 border border-sky-500">Description</td>
            <td class="px-4 py-2 border border-sky-500">Age minimum</td>
            <td class="px-4 py-2 border border-sky-500">Durée</td>
            <td class="px-4 py-2 border border-sky-500">Tarif journalier</td>
            <td class="px-4 py-2 border border-sky-500">Genres</td>
            <td class="px-4 py-2 border border-sky-500">Actions</td>


        </tr>
        </thead>
        <tbody>
        <tr th:each="jeu: ${jeux}">
            <td class="px-4 py-2 border border-sky-500" th:text="${jeu.noJeu}"></td>
            <td class="px-4 py-2 border border-sky-500" ><span th:text="${jeu.exemplaires.size}"></span></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${jeu.titre}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${jeu.reference}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${jeu.description}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${jeu.ageMin}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${jeu.duree}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${jeu.tarifJournee}"></td>
            <td class="px-4 py-2 border border-sky-500" ><span th:each="jeu : ${jeu.genres}" th:text="${jeu.libelle} + ' '"></span></td>

            <td class="border border-sky-500">
                <div class="flex items-center justify-evenly">
                    <div class="flex-1  justify-center items-center flex">
                        <a th:href="@{'jeux/detail/' + ${jeu.noJeu}}" class="text-blue-500 hover:text-blue-700">
                            <i class="fas fa fa-info"></i>
                        </a>
                    </div>
                    <div class="flex-1  justify-center items-center flex">
                        <a th:href="@{'jeux/modifier/' + ${jeu.noJeu}}" class="text-blue-500 hover:text-blue-700">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                    <div class="flex-1  justify-center items-center flex">
                        <a th:href="@{'jeux/supprimer/' + ${jeu.noJeu}}" class="text-red-500 hover:text-red-700 ml-4">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>