<div class="container mx-auto">
    Modifier le jeu

    <form action="/jeux/modifier" method="post" th:object="${jeu}">


        <input type="hidden" th:field="*{noJeu}" id="id">

        <div>
            <label for="titre">Nom : </label>
            <input type="text" th:field="*{titre}" id="titre">
        </div>

        <div>
            <label for="reference">Référence :</label>
            <input type="text" th:field="*{reference}" id="reference">
        </div>

        <div>
            <label for="ageMin">Age minimum :</label>
            <input type="text" th:field="*{ageMin}" id="ageMin">
        </div>

        <div>
            <label for="description">Description :</label>
            <input type="text" th:field="*{description}" id="description">
        </div>

        <div>
            <label for="duree">Durée :</label>
            <input type="number" th:field="*{duree}" id="duree">
        </div>

        <div>
            <label for="tarifJournee">Tarif journalier :</label>
            <input type="number" th:field="*{tarifJournee}" id="tarifJournee">
        </div>

        <!--        <div>-->
        <!--            <label for="genres">Genres :</label>-->
        <!--            <input type="select" th:field="*{genres}" id="genres">-->
        <!--        </div>-->

        <button type="submit">Modifier</button>

    </form>
</div>