<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La crypte des jeux</title>
     <link th:href="@{/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body class="flex flex-col">

<nav class="bg-gray-800">
    <div class="mx-auto ">

        <div class="flex flex-1 items-center justify-center  h-16">
            <a href="/">
            <div class="flex shrink-0 items-center">
                <img class="h-10 w-auto" src="/la-cryte-du-jeu-logo-16133977282.jpg" alt="Your Company">
            </div>
            </a>
            <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                    <a th:href="@{/jeux}"
                       class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Jeux</a>
                    <a th:href="@{/clients}"
                       class="rounded-md  px-3 py-2 text-sm font-medium text-white">Clients</a>
                    <a th:href="@{/genres}"
                       class="rounded-md  px-3 py-2 text-sm font-medium text-white">Genres</a>
                    <a th:href="@{/locations}"
                       class="rounded-md  px-3 py-2 text-sm font-medium text-white">Locations</a>
                </div>
            </div>
        </div>

    </div>
</nav>

<div class="flex-1" th:insert="~{${body}}"></div>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</body>

</html>