<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Démo redirection</title>
</head>
<body>
	<h1>Démo redirection</h1>
	
	<th:block th:object="${personne}">

	<div style="color: red;" th:if="${#fields.hasErrors('*')}" >
	<p th:text="#{index.erreurs}">Message d'erreur</p>
	</div>
	
	
	<form action="/ajoutPersonne" method="post" >
		<div>
		<label for="prenom">Prenom *: </label>
		<input type="text" th:field="*{prenom}" id="prenom" >
	<span style="color: red;" th:if="${#fields.hasErrors('prenom')}">
	<ul>
		<li th:each="erreur: ${#fields.errors('prenom')}" th:text="${erreur}"></li>
	</ul>
	</span>		
		</div>
		<div>
		<label for="nom">Nom *: </label>
		<input type="text" th:field="*{nom}" id="nom">
		<span style="color: red;" th:if="${#fields.hasErrors('nom')}">
	<ul>
		<li th:each="erreur: ${#fields.errors('nom')}" th:text="${erreur}"></li>
	</ul>
	</span>	
		</div>
		<div>
		<label for="age">Age *: </label>
		<input type="number" th:field="*{age}" id="age">
		<span style="color: red;" th:if="${#fields.hasErrors('age')}">
	<ul>
		<li th:each="erreur: ${#fields.errors('age')}" th:text="${erreur}"></li>
	</ul>
	</span>	
		</div>
		<div><label for="">Métier *</label><select th:field="*{metier}" >
			<option value="1">Vigneron.ne</option>
			<option value="2">Estheticien.ne</option>
			<option value="3">Bucheron.ne</option>
			</select>
			<span style="color: red;" th:if="${#fields.hasErrors('metier')}">
	<ul>
		<li th:each="erreur: ${#fields.errors('metier')}" th:text="${erreur}"></li>
	</ul>
	</span>	
		</div>
		<button>Dire bonjour en post ! </button>		
	</form>
	
	</th:block>
	
	<!-- Afficher la liste de toutes les personnes  -->
	<table>
	 	<tr th:each="personne : ${personnes}">	 	
	 		<td th:text="${personne.nom}"></td>
	 		<td th:text="${personne.prenom}"></td>
	 		<td th:text="${personne.age}"></td>
	 		<td th:text="${personne.metier.libelle}"></td>
	 	</tr>
	</table>
	
</body>
</html>