<div class="container mx-auto py-5">
    <div class="flex justify-between items-center">
    <h1 class="text-lg">Liste des clients</h1>
        <form class="flex items-center gap-5" th:action="@{/clients}" method="get">
            <input type="text" th:name="${filter}" id="filter" />
            <button type="submit" class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Filtrer
            </button>
            <a th:action="@{clients}">
                <button class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Réinitialiser les filtres
                </button>
            </a>
        </form>

    <button sec:authorize="hasRole('ADMIN')"><a href="/clients/ajouter"  class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-3  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ajouter un client</a></button>
    </div>
    <table class="min-w-full table-auto border-collapse mt-5">
        <thead>
        <tr>
            <td class="px-4 py-2 border border-sky-500">Numéro client</td>
            <td class="px-4 py-2 border border-sky-500">Nom</td>
            <td class="px-4 py-2 border border-sky-500">Prénom</td>
            <td class="px-4 py-2 border border-sky-500">Email</td>
            <td class="px-4 py-2 border border-sky-500">Numéro de téléphone</td>
            <td class="px-4 py-2 border border-sky-500">Rue</td>
            <td class="px-4 py-2 border border-sky-500">Code postal</td>
            <td class="px-4 py-2 border border-sky-500">Ville</td>
            <td sec:authorize="hasRole('ADMIN')" class="px-4 py-2 border border-sky-500">Action</td>

        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${clients}">
            <td class="px-4 py-2 border border-sky-500" th:text="${client.noClient}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${client.nom}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${client.prenom}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${client.email}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${client.noTel}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${client.rue}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${client.codePostal}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${client.ville}"></td>
            <td class="border border-sky-500">
            <div sec:authorize="hasRole('ADMIN')" class="flex items-center justify-evenly">
                <div class="flex-1  justify-center items-center flex">
                <a th:href="@{'clients/detail/' + ${client.noClient}}" class="text-blue-500 hover:text-blue-700">
                    <i class="fas fa fa-info"></i>
                </a>
                </div>
                <div class="flex-1  justify-center items-center flex">
                <a th:href="@{'clients/modifier/' + ${client.noClient}}" class="text-blue-500 hover:text-blue-700">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                </div>
                <div class="flex-1  justify-center items-center flex">
                <a th:href="@{'clients/supprimer/' + ${client.noClient}}" class="text-red-500 hover:text-red-700 ml-4">
                    <i class="fas fa-trash"></i>
                </a>
                </div>
            </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>