<div class="container mx-auto">
    Modifier le client

    <form action="/clients/modifier" method="post" th:object="${client}">


        <input type="hidden" th:field="*{noClient}" id="noClient">


        <div>
            <label for="nom">Nom : </label>
            <input type="text" th:field="*{nom}" id="nom">
        </div>

        <div>
            <label for="prenom">Prénom :</label>
            <input type="text" th:field="*{prenom}" id="prenom">
        </div>

        <div>
            <label for="email">email :</label>
            <input type="text" th:field="*{email}" id="email">
        </div>

        <div>
            <label for="noTel">noTel :</label>
            <input type="text" th:field="*{noTel}" id="noTel">
        </div>

        <div>
            <label for="rue">rue :</label>
            <input type="text" th:field="*{rue}" id="rue">
        </div>

        <div>
            <label for="code_postal">code_postal :</label>
            <input type="text" th:field="*{code_postal}" id="code_postal">
        </div>

        <div>
            <label for="ville">ville :</label>
            <input type="text" th:field="*{ville}" id="ville">
        </div>

        <button type="submit">Modifier</button>

    </form>
</div>