<div class="container mx-auto py-5">
    <div class="flex justify-between items-center">
        <h1 class="text-lg">Liste des locations</h1>
        <button><a href="/locations/ajouter"  class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-3  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Ajouter une location</a>
        </button>
    </div>
    <table class="min-w-full table-auto border-collapse mt-5">
        <thead>
        <tr>
            <td class="px-4 py-2 border border-sky-500">Numéro du location</td>
            <td class="px-4 py-2 border border-sky-500">Début de location</td>
            <td class="px-4 py-2 border border-sky-500">Nombre de jeux</td>
            <td class="px-4 py-2 border border-sky-500">Prix total</td>
            <td class="px-4 py-2 border border-sky-500">Prix calculé</td>
            <td class="px-4 py-2 border border-sky-500">Payé</td>
            <td class="px-4 py-2 border border-sky-500">Nom du client</td>
            <td class="px-4 py-2 border border-sky-500">Prénom du client</td>
            <td class="px-4 py-2 border border-sky-500">Ajouter une ligne</td>
            <td class="px-4 py-2 border border-sky-500">Détail</td>
            <td class="px-4 py-2 border border-sky-500">Modifier</td>
            <td class="px-4 py-2 border border-sky-500">Supprimer</td>


        </tr>
        </thead>
        <tbody>
        <tr th:each="loc: ${locations}">
            <td class="px-4 py-2 border border-sky-500" th:text="${loc.noLocation}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${loc.dateDebutLocation}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${loc.details.size()}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${loc.prixTotal} + ' €'"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${@locationService.calculateTotalPrice(loc)} + ' €'"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${loc.paye ? 'OUI' : 'NON'}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${loc.client.nom}"></td>
            <td class="px-4 py-2 border border-sky-500" th:text="${loc.client.prenom}"></td>

            <td class="px-4 py-2 border border-sky-500">
                <div class="flex-1  justify-center items-center flex">

                    <a th:href="@{'/locations/lignes/ajouter/' + ${loc.noLocation}}"  class="text-blue-500 hover:text-blue-700">
                        <i class="fas fa fa-plus"></i>
                    </a>
                </div>
            </td>
            <td class="px-4 py-2 border border-sky-500">
                <div class="flex-1  justify-center items-center flex">
                    <a th:href="@{'locations/detail/' + ${loc.noLocation}}" class="text-blue-500 hover:text-blue-700">
                        <i class="fas fa fa-info"></i>
                    </a>
                </div>
            </td>
            <td class="px-4 py-2 border border-sky-500">
                <div th:if="${loc.paye} == false" class="flex-1  justify-center items-center flex">
                    <a th:href="@{'locations/modifier/' + ${loc.noLocation}}" class="text-blue-500 hover:text-blue-700">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
                <div th:unless="${!loc.paye}">Non modifiable</div>

            </td>
            <td class="px-4 py-2 border border-sky-500">
                <div  class="flex-1  justify-center items-center flex">
                    <a th:href="@{'locations/supprimer/' + ${loc.noLocation}}" class="text-red-500 hover:text-red-700 ml-4">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>